# pandas from the ground up

###        https://www.youtube.com/watch?v=5JnMutdy6Fw&t=47s

### Exercises-1

In [2]:
data_folder = "C:/Users/Utilizador/Dropbox/Python/Jupyter Notebook files/Exercises_pandasfromthegroundup/"

In [3]:
%matplotlib inline
import pandas as pd

In [4]:
titles = pd.read_csv(data_folder + "titles.csv", index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [5]:
release_dates = pd.read_csv(data_folder + "release_dates.csv", index_col=None)
release_dates.head()

                    title  year      country        date
0   #73, Shaanthi Nivaasa  2007        India  2007-06-15
1                 #Beings  2015      Romania  2015-01-29
2               #Declimax  2018  Netherlands  2018-01-21
3  #Ewankosau saranghaeyo  2015  Philippines  2015-01-21
4                 #Horror  2015          USA  2015-11-20

In [6]:
cast = pd.read_csv(data_folder + "cast.csv", index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN